<div class="bg-yellow-400 border-b border-yellow-600">
  <div class="container p-4 mx-auto flex items-center justify-between">
    <p class="lg:text-xl text-lg text-black font-mono font-normal">Admin area</p>

    <div>
      <%= link_to "Users", admin_users_path, class: "text-black mx-2 underline" %>
      <%= link_to "Submissions", admin_submissions_path, class: "ml-2 text-black underline" %>
    </div>
  </div>
</div>
